nav {
  top: 0;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #242424;
  font-size: 1.1em;
  ul {
    max-width: 1000px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .title {
      display: flex;
      gap: 8px;
      cursor: pointer;
      align-items: center;
    }
    .repo {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      a {
        display: flex;
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
    .active {
      background-color: #1a1a1a;
    }
    li {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0 12px 0 0;
      border-radius: 6px;
      &:hover {
        background-color: #1a1a1a;
      }
      a {
        color: rgba(255, 255, 255, 0.87);
        padding: 6px 14px;
        display: block;
        &:hover {
          color: #FFF;
          border-bottom-color: transparent;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  nav {
    ul {
      padding: 8px 16px;
    }
  }
}