$element-height: 6.5em; // Thumbnail size is linked to this
.project {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 15px;
  height: $element-height;
  cursor: pointer;
  border-radius: 3px;
  &:hover {
    background-color: #191919;
    box-shadow: 0 0 15px -3px rgba(0,0,0,0.1);
    .thumbnail-bg {
      background-color: #646cff;
      .thumbnail {
        opacity: 0.6;
      }
    }
  }
  .thumbnail-bg {
    width: $element-height;
    height: $element-height;
  }
  .thumbnail {
    width: $element-height;
    height: $element-height;
    border-radius: 3px;
  }
  .text {
    padding: 8px;
    overflow: hidden;
    flex-direction: column;
    h3 {
      flex-shrink: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
    }
    ul {
      padding: 0;
      li {
        display: inline-block;
        margin-right: 24px;
        color: #646cff;
        font-size: 0.9em;
      }
    }
    p {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      //text-align: justify;
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  .project {
    gap: 6px;
    .thumbnail {
      width: 5.8em;
      height: 5.8em;
    }
    .text {
      padding: 6px;
    }
  }
}