/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/_components/ProjectRow/ProjectRow.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.project {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  gap: 15px;
  height: 6.5em;
  cursor: pointer;
  border-radius: 3px;
}
.project:hover {
  background-color: #1a1a1a;
  box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.1);
}
.project .thumbnail {
  width: 6.5em;
  height: 6.5em;
  border-radius: 3px;
}
.project .text {
  padding: 8px;
  overflow: hidden;
  flex-direction: column;
}
.project .text h3 {
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.project .text ul {
  padding: 0;
}
.project .text ul li {
  display: inline-block;
  margin-right: 24px;
  color: #646cff;
  font-size: 0.9em;
}
.project .text p {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 0;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/_components/ProjectList/ProjectList.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.projects .tags {
  margin: 6px 0 18px 0;
  padding: 0;
  color: #646cff;
}
.projects .tags li {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0 0.2em;
}
.projects .tags li:first-child {
  margin-left: 0;
}
.projects .tags li:hover {
  border-color: #646cff;
}
.projects .tags .active {
  background-color: #646cff;
  color: #FFF;
}
