/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/_components/CardRow/CardRow.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CardRow {
  margin: 50px 0 50px 0;
  border-left: 3px solid #646cff;
  border-radius: 3px;
  padding-left: 16px;
}
.CardRow h3 {
  margin: 0;
}
.CardRow .subtitle {
  margin-top: 2px;
  color: #bdbdbd;
}
.CardRow p {
  margin: 0;
}
.CardRow .content {
  margin-top: 10px;
}
.CardRow .content ul {
  margin: 10px 0;
}
.CardRow .content ul li {
  font-size: 1em;
}
.CardRow .tags {
  padding: 0;
  margin-top: 10px;
}
.CardRow .tags li {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 0.875em;
  background-color: #646cff;
  margin: 4px 8px 4px 0;
}
.CardRow .tags li:last-child {
  margin-right: 0;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/_components/ProjectRow/ProjectRow.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.project {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  gap: 15px;
  height: 6.5em;
  cursor: pointer;
  border-radius: 3px;
}
.project:hover {
  background-color: #1a1a1a;
  box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.1);
}
.project .thumbnail {
  width: 6.5em;
  height: 6.5em;
  border-radius: 3px;
}
.project .text {
  padding: 8px;
  overflow: hidden;
  flex-direction: column;
}
.project .text h3 {
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.project .text ul {
  padding: 0;
}
.project .text ul li {
  display: inline-block;
  margin-right: 24px;
  color: #646cff;
  font-size: 0.9em;
}
.project .text p {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 0;
}
