main {
  max-width: 1000px;
  margin: 120px auto 60px auto;
  padding: 1rem 30px 1rem 30px;
  display: flex;
  flex-direction: column;
}

section {
  max-width: 1000px;
  margin: 20px 0 20px 0;
}

.icon {
  height: 1.3em;
}

.landing {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: row;
  flex: 1;
  margin-top: 0;
  img {
    width: 12em; //192px
    height: 12.75em; //204px
  }
  h1 {
    margin-bottom: 6px;
  }
  h3 {
    margin-top: 0;
  }
  p {
    text-align: justify;
  }
  .socials {
    display: flex;
    flex: 1;
    padding: 0;
    a {
      align-items: center;
      display: flex;
      margin-right: 24px;
      svg {
        margin-right: 4px;
      }
    }
  }
}

ul {
  margin: 0;
  padding: 0 0 0 16px;
  li {
    padding: 4px 0 4px 0;
  }
}

.projects {
  display: flex;
  flex: 1;
  flex-direction: column;
  header {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    margin-bottom: 16px;
    width: 100%;
    h2 {
      margin: 0;
      display: flex;
      flex: 1;
    }
    .view-all {
      display: flex;
    }
  }
  .view-all {
    display: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .view-all:hover {
    border-color: #646cff;
  }
  .view-all:focus,
  .view-all:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.experience {
  h2 {
    margin-top: 0;
  }
  .CardRow:first-of-type { margin-top: 0 }
  .CardRow:last-of-type { margin-bottom: 0 }
}

@media (max-width: 600px) {
  main {
    margin: 50px auto 20px auto;
    padding: 1rem;
  }
  section {
    margin: 20px 0 20px 0;
  }
  .landing {
    flex-direction: column;
    gap: 12px;
    margin-top: 1em;
    p {
      text-align: left;
    }
    .socials {
      justify-content: space-between;
      margin: 0 4px;
      a {
        svg {
          margin-right: 8px;
        }
      }
    }
  }
  .projects {
    header {
      .view-all {
        display: none;
      }
    }
    .view-all {
      display: flex;
      flex: 1;
      width: 100%;
      justify-content: center;
      margin-top: 1.2em;
      padding: 0.6em 0;
    }
  }
}