/* Define fonts */
@import url( 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

$font: 'Montserrat', sans-serif;

/* Define colors */
$text_primary: #FFFFFF;
$text_secondary: #D4D4D4;
$text_accent: #D37A8B;

$primary: #D3435E;
$primary_tint: #B32A43;

$background_dark: #132334;
$background_light: #1C334B;

$error: #FF0033; //#ED4337 #FF0033 #AF0606

//FFD622

/* Define breakpoints */
$breakpoint: 750px;

/* Container width */
$container-width: 70vw;

/* Define styles */
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  font-family: $font;
  color: $text-primary;
}

h1 {
  font-size: 2.2vw;
  font-weight: 900;
}
h2 {
  font-size: 1.7vw;
}
h3 {
  font-size: 1.1vw;
}
h4 {
  font-size: 0.8vw;
  font-weight: 600;
}

/**
  Landing Page
 */
.landing {
  height: 90%;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $background_dark;
  .github {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: $primary;
    border-right: 5px solid $primary_tint;
    border-bottom: 5px solid $primary_tint;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 200px;
    }
    .info {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      .text {
        color: $text_primary;
        h1 {
          font-size: 2.8vw;
          font-weight: 800;
        }
        h2 {
          font-size: 1.7vw;
          font-weight: 800;
        }
      }
      .buttons {
        margin-top: 24px;
        button {
          $width: 45%;
          width: $width;
          &:last-child {
            margin-left: (100% - (2*$width))/2;
          }
          a, p {
            background-color: $primary;
            border-bottom: 5px solid $primary_tint;
            border-right: 5px solid $primary_tint;
            display: block;
            cursor: pointer;
            color: $text_primary;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.9vw;
            font-family: $font;
            font-weight: 700;
            $padding: 14px;
            padding: $padding 0;
          }
        }
      }
    }
  }
  .links {
    position: absolute;
    bottom: 16vh;
    width: 100%;
    display: flex;
    justify-content: center;
    .link {
      p {
        font-size: 16px;
        font-weight: 500;
      }
      a {
        color: $text_primary;
        text-decoration: none;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
      &:first-child {
        margin-right: 50px;
      }
      &:last-child {
        margin-left: 50px;
      }
    }
  }
}

/**
  Navigation bar
 */
nav {
  $height: 8vh;
  position: absolute;
  z-index: 1001;
  background-color: $primary;
  height: $height;
  width: $container-width;
  margin-left: (100vw - $container-width)/2;
  margin-top: -($height/2);
  border-bottom: 5px solid $primary_tint;
  border-right: 5px solid $primary_tint;
  ul {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    height: 100%;
    li {
      display: inline-block;
      color: $text_primary;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $font;
      font-size: 1vw;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .hamburger {
    display: none;
    visibility: hidden;
  }
}
.fixed {
  position: fixed;
  margin-top: 0;
  top: 0;
}

/**
  About section
 */
.about {
  width: 100%;
  background-color: $background_light;
  .container {
    width: $container-width;
    margin-left: (100vw - $container-width)/2;
    padding: 6% 0 80px;
    .col {
      display: flex;
      flex-direction: row;
      flex: 1;
      margin-top: 12px;
      .col-3 {
        display: flex;
        flex: 3;
        padding-right: 40px;
      }
      .col-2 {
        display: flex;
        flex: 2;
        flex-direction: column;
        p {
          padding-bottom: 6px;
        }
        span {
          font-weight: 700;
        }
      }
      .col {
        flex-direction: column;
        padding-bottom: 20px;
        h2 {
          margin-bottom: 6px;
        }
        .section {
          border-left: 4px solid $primary;
          padding: 20px;
          margin: 0 25px 0 10px;
          h5 {
            font-size: 1vw;
            padding-bottom: 5px;
            &::before {
              content: " ";
              position: absolute;
              height: 16px;
              width: 16px;
              border-radius: 50%;
              background-color: $primary;
              margin-left: -30px;
              margin-top: 4px;
            }
          }
          .date {
            color: $text_secondary;
            padding-bottom: 5px;
          }
          .description {
            padding-bottom: 10px;
          }
          .readmore {
            text-decoration: none;
            color: $text_accent;
            cursor: pointer;
          }
        }
      }
    }
    .skills-container {
      .col {
        display: flex;
        width: 100%;
        .col {
          flex-direction: column;
          display: flex;
          $margin: 30px;
          margin: 0 $margin 0 0;
          &:last-child {
            margin: 0 0 0 $margin;
          }
          .skill {
            padding: 10px 0;
            .bar {
              width: 100%;
              height: 30px;
              align-items: center;
              flex-direction: row;
              display: flex;
              .outer {
                width: 100%;
                height: 12px;
                background-color: $background_dark;
                .inner {
                  height: 100%;
                  background-color: $primary;
                }
              }
              p {
                margin-left: 20px;
                width: 140px;
              }
            }
          }
        }
      }
    }
  }
}

/**
  Projects section
 */

.projects {
  width: 100%;
  background-color: $background_dark;
  .container {
    width: $container-width;
    margin-left: (100vw - $container-width)/2;
    padding: 100px 0 60px;
    .projects-container {
      width: 100%;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      .project {
        width: 46%;
        margin: 2% 4% 2% 0;
        h3 {
          padding-bottom: 6px;
        }
        .badges {
          padding-bottom: 6px;
        }
        a {
          svg {
            height: 24px;
            padding-right: 6px;
            path {
              fill: $text_accent;
            }
          }
          color: $text_accent;
          text-decoration: none;
          margin-top: 20px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

/**
  Contact section
 */

.contact {
  width: 100%;
  background-color: $background_light;
  .container {
    width: $container-width;
    margin-left: (100vw - $container-width)/2;
    padding: 80px 0 100px;
    .col-2 {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      .form {
        flex: 4;
        margin-right: 5%;
        $space-between: 30px;
        .header {
          height: 40px;
          margin-bottom: $space-between;
          display: flex;
          input {
            flex: 1;
            padding: 10px;
            font-size: 14px;
            background-color: $background_dark;
            letter-spacing: 1px;
            color: #FFFFFF;
            &:focus {
              outline: 1px solid $primary;
            }
            &:first-child {
              margin-right: $space-between;
            }
            &:last-child {
              margin-left: $space-between;
            }
            &::placeholder {
              color: $text_secondary;
            }
          }
        }
        .message {
          display: flex;
          height: 200px;
          textarea {
            flex: 1;
            resize: none;
            padding: 10px;
            font-family: $font;
            font-size: 14px;
            letter-spacing: 1px;
            background-color: $background_dark;
            color: #FFFFFF;
            &:focus {
              outline: 1px solid $primary;
            }
            &::placeholder {
              color: $text_secondary;
            }
          }
        }
      }
      .info {
        flex: 1;
        background-color: $primary;
        padding: 15px;
        display: flex;
        flex-direction: column;
        .info-text {
          font-weight: 500;
          font-size: 22px;
          flex: 1;
        }
        .title {
          font-weight: 600;
        }
        a {
          color: $text_primary;
          font-weight: 400;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .submit {
      margin-top: 20px;
      background-color: $primary;
      border-top: 3px solid $primary_tint;
      border-right: 3px solid $primary_tint;
      color: $text_primary;
      font-weight: 600;
      font-family: $font;
      font-size: 16px;
      padding: 16px 42px;
      cursor: pointer;
      &:hover {
        outline: 1px solid $primary_tint;
      }
      &:focus {
        outline: 1px solid $primary_tint;
      }
    }
  }
}

.footer {
  height: 40px;
  border-top: 3px solid $primary_tint;
  border-right: 3px solid $primary_tint;
  background-color: $primary;
  display: flex;
  align-items: center;
  .container {
    width: $container-width;
    margin-left: (100vw - $container-width)/2;
    a {
      color: $text_primary;
    }
  }
}

// Mobile
@media (max-width: $breakpoint) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 15px;
  }

  .landing {
    .github {
      top: 10px;
      right: 10px;
      width: 35px;
      height: 35px;
      padding: 10px;
      background-color: $primary;
      border-right: 3px solid $primary_tint;
      border-bottom: 3px solid $primary_tint;
    }
    .container {
      padding: 25vh 8px 0;
      align-items: center;
      display: flex;
      img {
        display: block;
        height: 32vh;
        width: auto;
      }
      .info {
        padding-left: 10px;
        display: flex;
        height: 200px;
        .text {
          position: absolute;
          left: 20px;
          top: 12%;
          h1 {
            font-size: 34px;
          }
          h2 {
            font-size: 26px;
          }
        }
        .buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 0;
          height: 100%;
          button {
            width: 40vw;
            &:last-child {
              margin: 20px 0 0;
            }
            a {
              border-bottom: 3px solid $primary_tint;
              border-right: 3px solid $primary_tint;
              font-size: 14px;
            }
          }
        }
      }
    }
    .links {
      position: static;
      width: auto;
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      padding-bottom: 15px;
      .link {
        padding-top: 8px;
        display: flex;
        flex-direction: column;
        h5 {
          display: inline;
        }
        a {
          color: $text_primary;
          text-decoration: none;
          font-size: 12px;
        }
        &:first-child {
          margin-right: 0;
        }
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
  nav {
    $height: 10vh;
    height: calc(#{$height} - 5px);
    width: 100%;
    margin: 0;
    border-right: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: auto;
      width: 100vw;
      background-color: $primary_tint;
      align-self: flex-end;
      margin-bottom: calc(10vh - 5px);
      padding: 0;
      li {
        padding: 18px 0;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .hidden {
      visibility: hidden;
    }
    .hamburger {
      display: block;
      visibility: visible;
      position: absolute;
      height: 65%;
      right: 15px;
      cursor: pointer;
    }
  }
  .fixed {
    top: 0;
    ul {
      align-self: flex-start;
      margin-bottom: 0;
      margin-top: calc(10vh - 5px);
    }
  }
  .about {
    .container {
      width: 90%;
      margin-left: 5%;
      padding: 80px 0 10px;
      h1 {
        font-size: 36px;
      }
      h2 {
        font-size: 28px;
      }
      .col {
        flex-direction: column;
        .col-3 {
          flex: 1;
        }
        .col-2 {
          flex: 1;
          width: 100%;
          margin-top: 15px;
        }
        .col {
          .section {
            border-left: 4px solid $primary;
            padding: 15px;
            margin: 0 6px;
            h5 {
              font-size: 16px;
              &::before {
                content: " ";
                position: absolute;
                height: 14px;
                width: 14px;
                border-radius: 50%;
                background-color: $primary;
                margin-left: -24px;
                margin-top: 4px;
              }
            }
            .date {
              padding-bottom: 5px;
            }
            .description {
              padding-bottom: 10px;
            }
            .readmore {
              text-decoration: none;
            }
          }
        }
      }
      .skills-container {
        h3 {
          font-size: 18px;
        }
        h4 {
          font-size: 14px;
        }
        .col {
          .col {
            margin: 0;
            &:last-child {
              margin: 0;
            }
            .skill {
              p {
                margin-left: 20px;
                font-size: 12px;
                width: 140px;
              }
            }
          }
        }
      }
    }
  }
  .projects {
    .container {
      width: 90%;
      margin-left: 5%;
      padding: 70px 0 60px;
      .projects-container {
        .project {
          width: 100%;
          .badges {
            padding-bottom: 6px;
            img {
              height: 24px;
            }
          }
          margin-bottom: 30px;
        }
      }
    }
  }
  .contact {
    .container {
      width: 90%;
      margin-left: 5%;
      padding: 80px 0 50px;
      .col-2 {
        flex-direction: column-reverse;
        margin-top: 10px;
        .form {
          flex: 1;
          margin-right: 0;
          $space-between: 20px;
          .header {
            height: auto;
            margin-bottom: 0;
            flex-direction: column;
            input {
              flex: 1;
              margin-bottom: $space-between;
              &:first-child {
                margin-right: 0;
              }
              &:last-child {
                margin-left: 0;
              }
            }
          }
        }
        .info {
          background-color: inherit;
          padding: 0;
          margin-bottom: 26px;
          .info-text {
            font-weight: 400;
            font-size: 14px;
          }
          .title {
            font-size: 14px;
          }
          a {
            font-size: 14px;
          }
        }
      }
      .submit {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
  .footer {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    .container {
      width: 90vw;
      margin-left: 5vw;
    }
  }
}
