.projects {
  .tags {
    margin: 6px 0 18px 0;
    padding: 0;
    color: #646cff;
    li {
      display: inline-block;
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.3em 1em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #1a1a1a;
      cursor: pointer;
      transition: border-color 0.25s;
      margin: 0 0.3em;
      &:first-child { margin-left: 0; }
      &:hover {
        border-color: #646cff;
      }
    }
    .active {
      background-color: #646cff;
      color: #FFF;
    }
  }
}